/AnalyticsDashboard
/Base
/ContentBuilder
/Deduplication
/DesignerTools
/Exchange
/HomePage
/IntegrationV2
/NUI
/OmnichannelMessaging
/OpenIdAuth
/PivotTable
/RelationshipDesigner
/ServiceDesigner
/SspWorkplace
/UIv2
/Workplace
/Custom
